.container {
  background-color: black;
}

.cssExampleElementContainer {
  background-color: red;

  &Active {
    background-color: blue;
  }
}

.cssExampleElementButton {
  background-color: white;

  &:hover {
    background-color: yellow;
  }
}